<div class="cuerpo">
    <mat-card *ngIf="datos">
        <mat-card-content>
            
        </mat-card-content>
        <div class="row">
            <div class="col-lg-5 celda">
                <mat-grid-list class="celda" [cols]="5" gutterSize="5px" *ngIf="datos">                    
                    <mat-grid-tile>
                        <mat-card-header class="celda"><strong>Categorías&nbsp;&nbsp;|</strong></mat-card-header>
                    </mat-grid-tile>
                    <mat-grid-tile *ngFor="let item of datos.categorias">
                        <mat-card-header class="acciones">{{item.descripcion}}</mat-card-header>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-card-header class="celda">
                    <strong>Marca&nbsp;&nbsp;|</strong>&nbsp;&nbsp;{{datos.proveedor.nombre}}
                </mat-card-header>
                <mat-card-header class="celda">
                    <strong>Producto&nbsp;&nbsp;|</strong>&nbsp;&nbsp;{{datos.nombre}}
                </mat-card-header>
                <mat-card-header class="celda">
                    <strong>Descripción&nbsp;&nbsp;|</strong>&nbsp;&nbsp;{{datos.nombre}}
                </mat-card-header>                
                <mat-card-header class="celda">
                    <strong>Precio&nbsp;&nbsp;|</strong>&nbsp;&nbsp;{{datos.precio | currency:
                    'CRC':'symbol-narrow'}}
                </mat-card-header>
                <mat-card-header class="celda">
                    <strong>Cantidad&nbsp;&nbsp;|</strong>&nbsp;&nbsp;{{datos.cantidad}}
                </mat-card-header>
                <mat-card-header class="celda">
                    <strong>Estado&nbsp;&nbsp;|</strong>&nbsp;&nbsp;{{datos.estado}}
                </mat-card-header>
                <br>
                <br>
                <br>
                <div>
                    <a *ngIf="isClient" class="regresar"   [routerLink]="['']" (click)="comprar(datos.id)">Comprar</a>
                    <a class="regresar"  [routerLink]="[ruta]">
                        Regresar
                    </a>
                    <a *ngIf="isClient" class="regresar"  [routerLink]="['']" (click)="realizarPregunta()">
                        <mat-icon>question_mark</mat-icon>
                    </a>   
                </div>
            </div>                
            <div *ngIf="fotos" class="col-lg-7 celda">
                <mat-grid-list class="celda" [cols]="2" gutterSize="10px">
                    <mat-grid-tile *ngFor="let item of datos.fotos">
                        <img style="width: 100%;height: 350px;" src="{{item.foto}}">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>           
        </div>
    </mat-card>
    <br>
    <mat-card class="preg" *ngIf="preguntas">        
        <div>
            <strong class="enc">Preguntas relacionadas</strong>
        </div>
        <br>
        <br>        
        <div class="row pregresp" *ngFor="let item of datos.preguntas">
            <div class="col">
                <div style="color: blueviolet;">
                    {{item.descripcion}}<a *ngIf="isVend && !item.respuestas[0]" [routerLink]="['']" routerLinkActive="router-link-active" (click)="responder(item.id)" class="regresar">R/</a></div>
            </div>
            <div class="col">
                <p *ngIf="item.respuestas[0]">R/  {{item.respuestas[0].descripcion}}</p>
            </div>
            <br>            
        </div>
        <br>
    </mat-card>    
</div>