<div class="cuerpo">    
  <mat-card class="box">
    <br>
    <div class="row">
      <div class="col-lg-5 encabezado">
        <mat-card-header><strong>Orden de Compra</strong></mat-card-header>
        <mat-card-header><strong>Fecha:</strong>&nbsp;&nbsp;&nbsp;<span style="color: white;">{{fecha | date: 'dd/MM/yyyy'}}</span></mat-card-header>
        <mat-card-header><strong>IV:</strong>&nbsp;&nbsp;<span style="color: white;">{{IV}}</span></mat-card-header>
      </div>
      <div class="col-lg-5">
        <!-- <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select disabled="{{disabledPago}}" placeholder="Metodo de pago" name="first" [(ngModel)]="metodo" (ngModelChange)="capturarPago($event)">
                  <mat-option *ngFor="let g of listaFormasPago" [value]="g.id">
                    {{g.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Direccion" name="first" [(ngModel)]="direccion" (ngModelChange)="capturarDireccion($event)">
                  <mat-option *ngFor="let d of ListaDir" [value]="d.id">
                    {{d.direccionExacta}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>            
        </form> -->
      </div>      
    </div>  
  </mat-card>
  <br>
  <mat-card class="box">
    <mat-card-content *ngIf="dataSourse">
      <mat-table [dataSource]="dataSourse" class="mat-elevation-z8">

        <ng-container matColumnDef="producto">
          <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product.nombre}}
          </mat-cell>

          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.precio | currency}} </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field appearance="fill">
              <input readonly="{{disabledPago}}" matInput id="cantidad " type="number" class="form-control mb-2" [(ngModel)]="element.cantidad"
                (change)="actualizarCantidad(element)">
            </mat-form-field>

          </mat-cell>
          <mat-footer-cell *matFooterCellDef class="footer-total">Total + IV</mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="subtotal">
          <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.subtotal | currency: 'CRC':'symbol-narrow'}} </mat-cell>
          <mat-footer-cell *matFooterCellDef class="footer-total">{{total | currency:'CRC':'symbol-narrow'}}</mat-footer-cell>
        </ng-container>

        <ng-container *ngIf="!disabledPago" matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button class="regresar" mat-icon-button (click)="eliminarItem(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns" class="footer-row"></mat-footer-row>
      </mat-table>
      

    </mat-card-content>
    <mat-card-actions align="end">
      <button *ngIf="!disabledPago" class="pagar" mat-flat-button color="accent" (click)="registrarOrden()">
        <strong>Realizar Pago</strong>
        <mat-icon>shopping_bag</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card *ngIf="enabledCompra" class="box compra">
    <br>
  
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <mat-card-header>
          <mat-card-title>Efectuar Compra</mat-card-title>
        </mat-card-header>
      </div>
      <div class="col-lg-5">
        <mat-card-header>
          <mat-card-title>Evalúa al vendedor</mat-card-title>
        </mat-card-header>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Metodo de pago" name="first" [(ngModel)]="metodo"
                  (ngModelChange)="capturarPago($event)">
                  <mat-option *ngFor="let g of listaFormasPago" [value]="g.id">
                    {{g.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Direccion" name="first" [(ngModel)]="direccion"
                  (ngModelChange)="capturarDireccion($event)">
                  <mat-option *ngFor="let d of ListaDir" [value]="d.id">
                    {{d.direccionExacta}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-5">
        <form [formGroup]="formEvaluacion" novalidate>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Observaciones" formControlName="descripcion" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="Evaluación" name="first" [(ngModel)]="calificacion"
                (ngModelChange)="capturarEvaluacion($event)" formControlName="nota">
                  <mat-option *ngFor="let e of evaluaciones" [value]="e.value">
                    {{e.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <br>
    <div class="row">
  
      <div class="col-lg-7">
        <mat-card-actions align="end">
          <button class="pagar" (click)="volver()">Volver</button>
          <button class="comprar" mat-flat-button color="accent" (click)="comprar()">
            <strong>Comprar</strong><mat-icon>shopping_bag</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</div>