  
  .cuerpo {
    padding: 2% !important;
  }
  
  mat-card {
    border: solid 5px rgb(95, 4, 152, .5) !important;
    border-radius: 10px !important;
    background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.7)) !important;
  }
  
  th {
    /*border-bottom: solid 2px rgb(95, 4, 152, .5) !important;*/
    color: blueviolet;
  }
  
  td{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .acciones {
    padding: 6px;
    border: solid 2.5px blueviolet !important;
    background-color: none;
    border-radius: 10px !important;
    width: 17%;
  }
  
  .acciones:hover{
    padding: 6px;
    border: solid 2.5px blueviolet !important;
    background-color: blueviolet;
    border-radius: 10px !important;
    width: 17%;
  }
  
  .boton{
    margin: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    border: solid 2.5px blueviolet !important;
    background-color: blueviolet;
    border-radius: 10px !important;
    width: fit-content;
    height: fit-content;
  }
  
  .boton:hover{
    margin: 20px;
    color: blueviolet;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    border: solid 2.5px blueviolet !important;
    background-color: black;
    border-radius: 10px !important;
    width: fit-content;
    height: fit-content;
  }

  mat-card-title{
    color: blueviolet;
  }

  .fecha{
    color: rgb(208, 205, 205);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 70px;
    background-color: rgb(60, 59, 59);
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }