<div class="cuerpo">    
    <div class="tabla">                
        <form>
            <div class="row">
                <div class="col-lg-6 row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Categorias" name="first" [(ngModel)]="categoria" (ngModelChange)="filtroCategoria($event)">
                                <mat-option>
                                    <!--<a (click)="filtroCategoria()">Todos</a>-->Todos
                                </mat-option>
                                <mat-option *ngFor="let g of categorias" [value]="g">
                                    <!--<a (click)="filtroCategoria(g)">{{g.descripcion}}</a>-->{{g.descripcion}}
                                </mat-option>                            
                            </mat-select>
                        </mat-form-field>
                        <a class="regresar ordenar" (click)="ordenar()"><mat-icon>swap_vert</mat-icon></a>                    
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Nombre Ropa</mat-label>
                            <input matInput #texto (keyup)="filterRopa(texto.value)">
                        </mat-form-field>
                    </div>                  
                </div>                             
            </div>            
        </form>       
        <br>
        <br>
        <mat-grid-list *ngIf="listaProductos" [cols]="5" rowHeight="13em" gutterSize="10px">
            <mat-grid-tile *ngFor="let item of listaProductos">            
                    <mat-card>
                        <mat-card-header><strong>{{item.nombre}} &nbsp;&nbsp;|</strong>&nbsp;&nbsp;{{item.proveedor.nombre}}</mat-card-header>
                        <mat-card-content><mat-card-header>{{item.precio | currency: 'CRC': 'symbol-narrow'}}</mat-card-header></mat-card-content>
                        <br>
                        <mat-card-actions>
                            <button mat-mini-fab (click)="detalleProducto(item.id)">           
                                <mat-icon>info</mat-icon>
                            </button>
                            <button mat-mini-fab (click)="preguntas(item.id)">           
                                <mat-icon>question_mark</mat-icon>
                            </button> 
                        </mat-card-actions>                                                         
                    </mat-card>            
            </mat-grid-tile>
        </mat-grid-list>
    </div>    
</div>

