mat-card {
    border: solid 3px rgb(95, 4, 152, .5) !important;
    border-radius: 10px !important;
    padding-top: 5%;
    padding-left: 10%;
    background: linear-gradient(rgb(115, 1, 157,.5), rgb(115, 1, 157,.5)) !important;
    width: 85%;
    height: 85%;
    transition: 0.6s;
}

mat-card-header{
    color: rgb(166, 81, 246);
    font-size: 20px;    
}

strong{
    color: white;
}

mat-card:hover{
    width: 90%;
    height: 90%;
}

button{
    border: none;
    background: none;
}

.cuerpo {
    padding: 1% !important;
}

.tabla{
    border: solid 5px rgb(95, 4, 152, .5) !important;
    border-radius: 10px !important;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
    padding: 1.5% !important;
}


